@import "./typography.scss";
@import "../utils/variables.scss";
@import "../utils/mixins.scss";

* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100%;
  height: 100%;
  background-image: url("/src/assets/img/background_photo.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: $font-family;
  #makeDark {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
  }
}
a {
  text-decoration: none;
}
button {
  all: unset;
}
#home {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  #welcomeHeader {
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 500px;
    text-transform: uppercase;
    color: $main-color;
    h1 {
      font-size: 64px;
      margin: 120px 0 0 0;
      // margin-top: 125px;
      padding: 0;
    }
    #checkoutBtn {
      @include checkBtn();
      font-size: 40px;
      color: $main-color;
    }
  }
}

#navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  z-index: 3;
  background-color: rgba(83, 75, 75, 0.5);
  transition: 0.2s;
  #logo {
    display: flex;
    height: 50px;
    width: 250px;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    transition: 0.5s;
    &:hover {
      @include navbarTransition();
    }
  }
  #navbarList {
    list-style: none;
    width: 80%;
    display: flex;
    justify-content: space-around;
    li {
      font-size: 24px;
      width: auto;
      text-transform: uppercase;
      &:hover {
        @include navbarTransition();
      }
      a {
        text-decoration: none;
        font-weight: bold;
        color: $main-color;
        transition: 0.2s;
        &:hover {
          transition: 0.2s;
          color: #660000;
        }
      }
    }
  }
  .hamburger {
    background-color: transparent;
    color: $main-color;
    font-size: 32px;
    cursor: pointer;
    display: none;
  }
  .closeIcon {
    color: $main-color;
    font-size: 32px;
    cursor: pointer;
    display: none;
    transform: rotate(45);
  }
}
#fullpage {
  display: none;
  position: absolute;
  z-index: 9999;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-size: contain;
  background-repeat: no-repeat no-repeat;
  background-position: center center;
  background-color: rgba(0, 0, 0, 0.3);
  #bigPicture {
    // display: none;
    height: 70vh;
    width: 46.5vh;
    z-index: 9999;
    justify-content: center;
    align-items: center; 
    background-size: contain;
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    border-radius: 30px; 
  }
}
// #logo {
//   width: 200px;
//   height: auto;
//   display: flex;
//   justify-content: center;
// }
@keyframes slide-down {
  0% {
    height: 0px;
  }
  100% {
    height: 200px;
  }
}
@keyframes slide-up {
  0% {
    height: 200px;
  }
  100% {
    height: 0px;
  }
}
#rwdListContainer {
  width: 100%;
  height: 0px;
  background-color: rgba(83, 75, 75, 0.5);
  display: none;
  position: static;
  #navListRwd {
    color: $main-color;
    padding: 0;
    margin: 0;
    height: 80%;
    list-style: none;
    text-transform: uppercase;
    font-size: x-large;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    li a {
      color: $main-color;
    }
  }
}
#productsNavRwd {
  width: 100%;
  height: 0px;
  background-color: rgba(83, 164, 159, 0.6);
  display: none;
  position: static;
  #productsNavRwdList {
    color: $main-color;
    padding: 0;
    margin: 0;
    height: 80%;
    list-style: none;
    text-transform: uppercase;
    font-size: x-large;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    li a {
      color: $main-color;
    }
  }
}
@media all and (max-width: 767px) {
  #navbar {
    #logo {
      transform: scale(0.8);
      &:hover {
        transform: scale(0.8);
      }
    }
    flex-direction: row;
    .hamburger {
      display: flex;
    }
    #navbarList {
      display: none;
    }
    #rwdListContainer.show {
      animation: slide-down 0.5s linear;
      height: 200px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      // animation-direction: alternate;
    }
  }

  #hamburger.hideIcon {
    display: none;
  }
  #closeIcon.showX {
    display: flex;
    cursor: pointer;
    justify-content: flex-end;
    font-size: 24px;
    // transform: rotate(45deg);
  }
  #hamburger.showIcon {
    display: flex;
    justify-content: flex-end;
  }

  #rwdListContainer.hide {
    animation: slide-up 0.5s linear;
    #closeIcon.hideX {
      display: none;
    }
  }
  #rwdListContainer {
    animation: slide-up 0.5s linear;
    overflow: hidden;
  }
}
