@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@100&display=swap");
@import "../utils/variables.scss";
@import "../utils/mixins.scss";

#about {
  display: flex;
  // position: relative;
}
#aboutRightColumn {
  @include column();
  background-color: $panel-color;
  justify-content: center;
  display: flex;
  .aboutTxt {
    color: $main-color;
    font-size: 26px;
    margin: auto 50px auto 50px;
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: left;
  }
}
#aboutLeftColumn {
  @include column();
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    color: $main-color;
    font-size: 64px;
    text-transform: uppercase;
    text-decoration: underline 20px #53a49f;
    // text-decoration: overline 20px #53a49f;
  }
}

#products {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  color: rgb(242, 242, 242);
  #productsRightColumn {
    @include column();
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
      font-size: 64px;
      text-decoration: underline 20px #53a49f;
      text-transform: uppercase;
      font-weight: bold;
    }
  }
  #productsLeftColumn {
    @include column();
    display: flex;
    justify-content: space-around;
    align-items: center;
    // font-size: 26px;
    background-color: $panel-color;
    flex-direction: column;
    h2 {
      font-size: 32px;
      margin-left: 50px;
      margin-right: 50px;
      margin-bottom: 0;
      margin-top: 0;
      text-align: center;
    }
    .productsTxt {
      color: rgb(242, 242, 242);
      font-size: 26px;
      margin-left: 50px;
      margin-right: 50px;
      width: auto;
      height: auto;
      justify-content: center;
      align-items: center;
    }
    #checkProductsButton {
      @include checkBtn();
      font-size: 36px;
      color: $main-color;
      background-color: rgba(177, 132, 87, 0.8);
      overflow: hidden;
      // border: rgb(242, 242, 242) 1px solid;
      text-transform: uppercase;
      text-align: center;
      &:hover {
        background-color: $main-color;
        border: #6fbf83;
        color: #6fbf83;
      }
    }
  }
}

#services {
  display: flex;
  text-align: justify;

  #servicesLeftColumn {
    @include column();
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // flex-wrap: wrap;
    #leftUpSquare {
      width: 100%;
      height: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      h1 {
        text-align: center;
        color: $main-color;
        font-size: 64px;
        text-transform: uppercase;
        text-decoration: underline 20px #53a49f;
      }
    }
    #leftDownSquare {
      width: 100%;
      height: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: rgb(242, 242, 242);
      background-color: $panel-color;
      h2 {
        display: flex;
        justify-content: center;
        height: auto;
        width: auto;
        font-size: 36px;
      }
      p {
        height: auto;
        width: auto;
        display: flex;
        justify-content: center;
        font-size: large;
        font-weight: bold;
      }
      .woodColorOak {
        img {
          width: 150px;
          height: 150px;
          border-radius: 100px;
          background-size: cover;
        }
      }
      #fabricBtn {
        @include checkBtn();
        width: 100px;
        height: 50px;
        text-align: center;
        color: $main-color;
        margin-bottom: 25px;
      }
    }
  }
  #servicesRightColumn {
    @include column();
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // flex-wrap: wrap;
    #rightDownSquare {
      width: 100%;
      height: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      #transportTxt {
        width: 80%;
        height: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        font-weight: bold;
        text-align: center;
        font-size: large;
        color: $main-color;
        #bringTxt {
          font-style: italic;
          font-size: small;
        }
      }
    }
    #rightUpSquare {
      background-color: $panel-color;
      width: 100%;
      height: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: $main-color;
      h2 {
        display: flex;
        justify-content: center;
        height: auto;
        width: auto;
        font-size: 36px;
      }
      p {
        height: auto;
        width: auto;
        display: flex;
        justify-content: center;
        font-size: large;
        font-weight: bold;
      }
      .woodColorOak {
        img {
          width: 150px;
          height: 150px;
          border-radius: 100px;
          background-size: cover;
        }
      }
      #fabricBtn {
        @include checkBtn();
        width: 100px;
        height: 50px;
        text-align: center;
        color: $main-color;
        margin-bottom: 25px;
      }
    }
  }
}
#contact {
  @include column();
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  #topHalf {
    height: 60%;
    width: 100%;
    color: $main-color;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: justify;
    h1 {
      text-align: center;
      text-transform: uppercase;
      text-decoration: underline 20px #53a49f;
      font-size: 64px;
    }
    p {
      text-align: center;
      font-size: 32px;
      width: 75%;
    }
  }
  #bottomHalf {
    height: 40%;
    width: 100%;
    background-color: $panel-color;
    color: $main-color;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    #howToContact {
      width: 80%;
      height: 40vh;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 2px solid $main-color;
      #phone {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        .phoneIcon {
          color: $main-color;
          font-size: 86px;
        }
      }
      #email {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        .atIcon {
          color: $main-color;
          font-size: 86px;
        }
      }
    }

    .vl {
      border-left: 2px solid $main-color;
      height: 90%;
    }
    #footer {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: small;
    }
  }
}
#catalog {
  height: 100vh;
  margin-top: 120px;
  padding-bottom: 120px; 
  width: 100%;
  display: flex;
  justify-content: space-around;
  // align-items: center;
  flex-direction: column;
  overflow: visible;
}

#productsContainer {
  height: 100%;
  padding-bottom: 100px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  // overflow-y: scroll;
  // background-color: rgba(0, 0, 0, 0.2);

  #productsNav {
    width: 100%;
    height: auto;
    background-color: rgba(83, 164, 159, 0.6);
    ul {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      text-transform: uppercase;
      color: $main-color;
      font-weight: 300;
      li {
        margin: 10px;
        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
    .closeIcon {
      color: $main-color;
      font-size: 32px;
      cursor: pointer;
      display: none;
      transform: rotate(45);
    }
    #productsNavRwd {
      display: none;
      .arrowDown {
        color: $main-color;
      }
    }
  }
  .product-panel {
    width: 125px;
    height: 200px;
    margin: 20px;
    // border-radius: 10px;
    margin-bottom: 100px;
    background-position: cover;
    transition: 0.3s;
    // overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 10px;
    }
    p {
      display: flex;
      justify-content: center;
      font-size: 16px;
      color: $main-color;
      font-weight: 600;
      overflow: visible;
      text-align: center;
      transition: 0.2s linear;
    }

    &:hover {
      transform: scale(1.1);
      border: solid 5px $panel-color;
      border-radius: 15px;
      p {
        transition: 0.2s linear;
        font-size: 14px;
      }
    }
  }
  @keyframes container-opacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  #chairsGlamour {
    width: 100%;
    height: 100%;
    margin-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    // transition: 0.5s linear;
    animation: container-opacity 0.3s linear;
    overflow-y: scroll; 
    @include customScrollbar();
  }
  #chairsUpholstery {
    width: 100%;
    height: 100%;
    margin-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    display: none;
    justify-content: space-around;
    flex-wrap: wrap;
    animation: container-opacity 0.3s linear;
    overflow-y: scroll;
    @include customScrollbar();
    
  }
  #chairsWooden {
    width: 100%;
    height: 100%;
    margin-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    display: none;
    justify-content: space-around;
    flex-wrap: wrap;
    animation: container-opacity 0.3s linear;
    overflow-y: scroll;
    @include customScrollbar();
  }
  #tablesLoft {
    width: 100%;
    height: 100%;
    margin-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    display: none;
    justify-content: space-around;
    flex-wrap: wrap;
    animation: container-opacity 0.3s linear;
    overflow-y: scroll;
    @include customScrollbar();
    .product-panel {
      width: 200px;
      height: 150px;
    }
  }
  #tablesWooden {
    width: 100%;
    height: 100%;
    margin-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    display: none;
    justify-content: space-around;
    flex-wrap: wrap;
    animation: container-opacity 0.3s linear;
    overflow-y: scroll; 
    @include customScrollbar();
    .product-panel {
      width: 200px;
      height: 150px;
    }
  }
  #tableCoffee {
    width: 100%;
    height: 100%;
    margin-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    display: none;
    justify-content: space-around;
    flex-wrap: wrap;
    animation: container-opacity 0.3s linear;
    overflow-y: scroll;
    @include customScrollbar();
    .product-panel {
      width: 200px;
      height: 150px;
    }
  }

  .mySlides {
    width: 100%;
    display: none;
  }
}

@media all and (min-width: 493px) and (max-width: 767px) {
  body {
    scroll-behavior: auto;
  }
  #about {
    height: 100vh;
    padding-top: 60px;
    // margin-top: 60px;
    display: flex;
    flex-direction: column;
    #aboutLeftColumn {
      margin-top: 0px;
      width: auto;
      height: 50%;
      h1 {
        font-size: 48px;
        text-decoration: underline 10px #53a49f;
      }
    }
    #aboutRightColumn {
      height: 50%;
      width: auto;
      margin-top: 0px;
      .aboutTxt {
        height: auto;
        font-size: 16px;
      }
    }
  }
  #products {
    height: 100vh;
    padding-top: 60px;
    width: auto;
    display: flex;
    flex-direction: column-reverse;
    #productsRightColumn {
      width: auto;
      height: 50%;
      h1 {
        font-size: 48px;
        text-decoration: underline 10px #53a49f;
      }
    }
    #productsLeftColumn {
      width: auto;
      
      h2 {
        font-size: 24px;
      }
      .productsTxt {
        font-size: 16px;
      }
      #checkProductsButton {
        transform: scale(0.8);
        z-index: 1;
      }
    }
  }
  #services {
    height: 100vh;
    padding-top: 60px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    #servicesRightColumn {
      margin-top: 0;
      margin-bottom: 0;
      height: 50%;
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column-reverse;
      #rightDownSquare {
        // padding: 25px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        p {
          font-size: 12px;
        }
      }
      #rightUpSquare {
        // padding: 25px;
        height: 100%; 
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        h2 {
          display: none;
        }
        p {
          font-size: 12px;
        }
        a {
          transform: scale(0.7);
          #fabricBtn {
            margin-bottom: 0;
          }
        }
        .woodColorOak {
          transform: scale(0.5);
        }
      }
    }
    #servicesLeftColumn {
      margin: 0;
      height: 50%;
      width: 100%;
      display: flex; 
      justify-content: space-around; 
      align-items: center;
      #leftDownSquare {
        // padding: 25px;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        h2 {
          display: none;
        }
        p {
          font-size: 12px;
        }
        a {
          transform: scale(0.7);
          #fabricBtn {
            margin-bottom: 0;
          }
        }
        .woodColorOak {
          transform: scale(0.5);
        }
      }
      #leftUpSquare {
        height: 100%; 
        h1 {
          font-size: 48px;
          text-decoration: underline 10px #53a49f;
        }
      }
    }
  }
  #contact {
    height: 100vh;
    padding-top: 60px;
    display: flex;
    flex-direction: column;

    #topHalf {
      h1 {
        font-size: 48px;
        text-decoration: underline 10px #53a49f;
      }
      p {
        font-size: 24px;
      }
    }
    #bottomHalf {
      display: flex;
      align-items: center;
      justify-content: center;
      height: auto;
      #footer {
        h3 {
          font-size: 12px;
        }
      }
      #howToContact {
        flex-direction: column;
        .vl {
          border-bottom: 1px solid $main-color;
          width: 80%;
        }
        #phone {
          transform: scale(0.7);
        }
        #email {
          transform: scale(0.7);
        }
      }
    }
  }
  #catalog {
    margin-top: 60px;
    #productsNav {
      width: 100%;
      // height: auto;
      margin-top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      ul {
        li {
          font-size: x-small;
        }
      }
    }
  }
}

@media all and (min-width: 767px) and (max-width: 960px) {
  body {
    scroll-behavior: auto;
  }
  #about {
    height: 100vh;
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    #aboutLeftColumn {
      margin-top: 0px;
      width: auto;
      height: 50%;
      h1 {
        font-size: 48px;
        text-decoration: underline 10px #53a49f;
      }
    }
    #aboutRightColumn {
      height: 50%;
      width: auto;
      margin-top: 0px;
      .aboutTxt {
        height: auto;
        font-size: 16px;
      }
    }
  }
  #products {
    height: 100vh;
    padding-top: 120px;
    width: auto;
    display: flex;
    flex-direction: column-reverse;
    #productsRightColumn {
      width: auto;
      // height: 50%;
      h1 {
        font-size: 48px;
        text-decoration: underline 10px #53a49f;
      }
    }
    #productsLeftColumn {
      width: auto;
      // height: 50%;
      h2 {
        font-size: 24px;
      }
      .productsTxt {
        font-size: 16px;
      }
      #checkProductsButton {
        transform: scale(0.8);
        z-index: 1;
      }
    }
  }
  #services {
    height: 100vh;
    padding-top: 120px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    width: 100%;
    #servicesRightColumn {
      margin-top: 0;
      height: 50%;
      width: 100%;
      display: flex;
      flex-direction: column-reverse;
      #rightDownSquare {
        padding: 25px;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        p {
          font-size: 12px;
        }
      }
      #rightUpSquare {
        padding: 25px;
        height: auto;
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;

        h2 {
          display: none;
        }
        p {
          font-size: 12px;
        }
        a {
          transform: scale(0.7);
          #fabricBtn {
            margin-bottom: 0;
          }
        }
        .woodColorOak {
          transform: scale(0.5);
        }
      }
    }
    #servicesLeftColumn {
      margin-top: 0;
      height: 50%;
      width: 100%;
      #leftDownSquare {
        padding: 25px;
        height: auto;
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        h2 {
          display: none;
        }
        p {
          font-size: 12px;
        }
        a {
          transform: scale(0.7);
          #fabricBtn {
            margin-bottom: 0;
          }
        }
        .woodColorOak {
          transform: scale(0.5);
        }
      }
      #leftUpSquare {
        height: 25%;
        h1 {
          font-size: 48px;
          text-decoration: underline 10px #53a49f;
        }
      }
    }
  }
  #contact {
    height: 100vh;
    padding-top: 120px;
    display: flex;
    flex-direction: column;

    #topHalf {
      h1 {
        font-size: 48px;
        text-decoration: underline 10px #53a49f;
      }
      p {
        font-size: 24px;
      }
    }
    #bottomHalf {
      display: flex;
      align-items: center;
      justify-content: center;
      height: auto;

      #howToContact {
        flex-direction: column;
        .vl {
          border-bottom: 1px solid $main-color;
          width: 80%;
        }
        #phone {
          transform: scale(0.7);
        }
        #email {
          transform: scale(0.7);
        }
      }
    }
  }
  #catalog {
    margin-top: 120px;
    #productsNav {
      width: 100%;
      // height: auto;  
      margin-top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      ul {
        li {
          font-size: x-small;
        }
      }
    }
  }
}
@media all and (min-width: 961px) and (max-width: 1720px) {
  #about {
    .aboutTxt {
      font-size: 20px;
    }
  }
  #products {
    #productsLeftColumn {
      .productsTxt{
        font-size: 20px; 
      }
    }
  }
}
