@mixin checkBtn(){
    width: 300px;
    height: 100px;
    background-color: #b18457cc;
    border-radius: 25px;
    transition: 0.3s;
    &:hover{
        background-color: rgba(111, 191, 131, 1);
        transition: 0.3s;
    }
}
@mixin column(){
    width: 50%;
    height: calc(100vh - 120px);
    margin-top: 120px;
    display: flex;
    justify-content: center;
}

@mixin navbarTransition{
    transform: scale(1.2);
    transition: 0.5s;
}
@mixin customScrollbar(){
    scrollbar-color: #53a49f transparent; 
    scrollbar-width: thin; 
    
    &::-webkit-scrollbar{
        width: 10px;
        // height: 20px;
      };
      &::-webkit-scrollbar-thumb{
        background-color: #53a49f;
        border-radius: 10px;
        &:active{
            background-color: #468a86;
        }
      }
      &::-webkit-scrollbar-track{
        background-color: transparent;
      }
}